<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Calculator
  </h1>
</div>
<select [(ngModel)]="currentCalculation">
  <option value="sum">Dodawanie</option>
  <option value="subtract">Odejmowanie</option>
  <option value="multiply">Mnożenie</option>
  <option value="divide">Dzielenie</option>
</select>
<app-sum *ngIf="currentCalculation === 'sum'"></app-sum>
<app-subtract *ngIf="currentCalculation === 'subtract'"></app-subtract>
<app-divide *ngIf="currentCalculation === 'divide'"></app-divide>
<app-multiply *ngIf="currentCalculation === 'multiply'"></app-multiply>
